@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    background-color: rgb(249, 252, 255);
    font-family: 'Noto Sans KR', sans-serif;
    color: #150b6d;
    padding: 10px 40px 10px 40px;

}
footer {
    background-color: rgb(25, 23, 139);
    color:whitesmoke;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}